version: '3.8'

services:
  backend:
    build: ./backend
    container_name: schoolerp_backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=0
      - ALLOWED_HOSTS=*
      - DB_NAME=schoolerp_db
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_HOST=db
    depends_on:
      - db

  frontend:
    image: nginx:alpine
    container_name: schoolerp_frontend
    volumes:
      - ./frontend/dist/schoolerp-ui/browser:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - backend

  db:
    image: postgres:15
    container_name: schoolerp_db
    environment:
      - POSTGRES_DB=schoolerp_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
