.header {
    height: 70px;
    z-index: 10;
}

.max-w-lg {
    max-width: 450px;
}

.search-box input:focus {
    outline: none;
    box-shadow: none;
}

.notification-pill {
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
}

.icon-sm {
    width: 16px;
    height: 16px;
}

.tiny {
    font-size: 0.65rem;
}

.cursor-pointer {
    cursor: pointer;
}