.sidebar {
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text);
    width: 260px;
    transition: all 0.3s;
}

.logo-box {
    background: var(--primary-color);
    color: white;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-item {
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    color: #94a3b8;
    font-weight: 500;
    text-decoration: none;
}

.nav-item:hover {
    background: rgba(255, 255, 255, 0.05);
    color: white;
}

.nav-item.active {
    background: var(--primary-color);
    color: white;
    box-shadow: 0 4px 6px -1px rgb(79 70 229 / 0.3);
}

.sub-active {
    color: white !important;
    background: rgba(255, 255, 255, 0.1) !important;
}

.logout-btn:hover {
    background: rgba(239, 68, 68, 0.1);
}

lucide-icon {
    width: 20px;
    height: 20px;
}

.icon-xs {
    width: 14px;
    height: 14px;
}

.submenu {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 1.5rem;
}